.App{
  
  overflow: hidden;
  text-align: center;
  

  width: 100vw;
  height: 100vh;

}
.App_home_background{
  background: linear-gradient(197.69deg, rgba(14, 10, 255, 0.6) 0.68%, rgba(219, 0, 131, 0.66) 100%);
  background-blend-mode: multiply;
  
}
.App_other_background{
  background: linear-gradient(197.69deg, rgba(119, 0, 155, 0.6) 0.68%, rgba(29, 0, 219, 0.66) 100%);
  background-blend-mode: multiply;
  
  
}




@keyframes color_reverse{
  0%{
    background: linear-gradient(197.69deg, rgba(119, 0, 155, 0.6) 0.68%, rgba(29, 0, 219, 0.66) 100%);
  background-blend-mode: multiply;
  }
  100%{
    background: linear-gradient(197.69deg, rgba(14, 10, 255, 0.6) 0.68%, rgba(219, 0, 131, 0.66) 100%);
    background-blend-mode: multiply;
  }
}