@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h6{
  font-family: 'Jomolhari';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  width: 100%;
  
  align-items: center;
  text-align: center;

  color: #000000;

  
}
p{
  font-size: 16px;
}
.x_right_array_animate{
  animation: right_animate 1.5s infinite ease-in-out;
}
.x_left_array_animate{
  animation: left_animate 1.5s infinite ease-in-out;
}
.y_up_array_animate{
  animation: up_animate 1.5s infinite ease-in-out;
}
.y_down_array_animate{
  animation: down_animate 1.5s infinite ease-in-out;
}
@keyframes right_animate{
  0%{
    right: -18px;
  }
  50%{
    right: -5px;
  }
  100%{
    right: -18px;
  }
}
@keyframes left_animate{
  0%{
    left: -18px;
  }
  50%{
    left: -5px;
  }
  100%{
    left: -18px;
  }
}
@keyframes up_animate{
  0%{
    top: -18px;
  }
  50%{
    top: -5px;
  }
  100%{
    top: -18px;
  }
}
@keyframes down_animate{
  0%{
    bottom: -18px;
  }
  50%{
    bottom: -5px;
  }
  100%{
    bottom: -18px;
  }
}